{% extends 'base.html' %}

{% block title %}
AirTicket: Listado de Clientes
{% endblock  %}


{% block cont  %}

<br>
<div class="container col-md-4 offset-md-8" methond="GET" >
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar" value="{{ request.GET.buscar }}">
    	<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
	</form>
</div>

<strong><legend class="text-center header font-italic">Lista de Clientes</legend></strong>
<table class="table table-boardered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Telefono</td>
			<td>Edad</td>
			<td>Editar</td>
			<td>Eliminar</td>
		</tr>
	</thead>
	<tbody>
        {% if clientes %}
        {% for cliente  in clientes %} 
		<tr>
			<td>{{ cliente.id }}</td>
			<td>{{ cliente.nombre }}</td>
			<td>{{ cliente.apellido }}</td>
			<td>{{ cliente.telefono }}</td>
			<td>{{ cliente.edad }}</td>
			<td><a class="btn btn-primary btn-md" href="{% url 'clientes_edit' cliente.id %}">Editar</a></td>
			<td><a class="btn btn-primary btn-md" href="{% url 'clientes_delete' cliente.id %}">Eliminar</a></td>
			
		</tr>
        {% endfor %}
        
        {% else %}
        <h4>No hay registros</h4>

        {% endif %}
	</tbody>
</table>


{% endblock  %}
